USE [IOT_MS]
GO
/****** Object:  Table [dbo].[Ms_Volume_Tangki]    Script Date: 3/23/2023 4:34:05 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Ms_Volume_Tangki]') AND type in (N'U'))
DROP TABLE [dbo].[Ms_Volume_Tangki]
GO
/****** Object:  Table [dbo].[Ms_Login]    Script Date: 3/23/2023 4:34:05 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Ms_Login]') AND type in (N'U'))
DROP TABLE [dbo].[Ms_Login]
GO
/****** Object:  Table [dbo].[Ms_Berat_Jenis]    Script Date: 3/23/2023 4:34:05 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Ms_Berat_Jenis]') AND type in (N'U'))
DROP TABLE [dbo].[Ms_Berat_Jenis]
GO
/****** Object:  Table [dbo].[Ms_Berat_Jenis]    Script Date: 3/23/2023 4:34:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ms_Berat_Jenis](
	[jenis] [varchar](10) NOT NULL,
	[temperature] [int] NULL,
	[berat_jenis] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ms_Login]    Script Date: 3/23/2023 4:34:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ms_Login](
	[username] [nvarchar](450) NULL,
	[password] [varbinary](max) NULL,
	[user_level] [varchar](50) NULL,
	[created_date] [datetime] NULL,
	[created_user] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ms_Volume_Tangki]    Script Date: 3/23/2023 4:34:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ms_Volume_Tangki](
	[tangki] [varchar](max) NOT NULL,
	[tinggi] [float] NULL,
	[volume] [float] NULL,
	[beda_liter] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Ms_Berat_Jenis] ([jenis], [temperature], [berat_jenis]) VALUES (N'PKO', 26, 0.9149)
INSERT [dbo].[Ms_Berat_Jenis] ([jenis], [temperature], [berat_jenis]) VALUES (N'PKO', 27, 0.9142)
INSERT [dbo].[Ms_Berat_Jenis] ([jenis], [temperature], [berat_jenis]) VALUES (N'PKO', 28, 0.9135)
GO
INSERT [dbo].[Ms_Login] ([username], [password], [user_level], [created_date], [created_user]) VALUES (N'admin', 0x9A0CABADD7847C6EE3C0A5E73BEFC4C8AFA0E64BCFE58D06DCA1AF3B86CDCAE50D2A502862A0E64EE58EBA9A238DE6AD46DC7E95F2CF199A58FEAA8CAAE47557486CDF0BF4888266BC2E26AB3AD72D1CE18FD953A6253DD8E8728A1DC56AB79405B5667DC2A51E9D267F268E6EF71614F3F66F07E12C9040212CB11EFA28F188, N'ADMIN', CAST(N'2023-03-15T15:34:53.773' AS DateTime), N'admin')
INSERT [dbo].[Ms_Login] ([username], [password], [user_level], [created_date], [created_user]) VALUES (N'best1', 0x88BE868E0F18CE4C2920CA8167ED468D8573E23A3A4E019C00F9DDBF868BF19121E260AFF34EC907DD254F1A8FED0A1403115ACEF6F261BE642407513294DA85A768C29C2A68F8F103D0F1FD54D1B8363B995302EC0E0066CC3AD27618848DABC4FB1275C5908E1FC2AB4341682648B35E520CD5EE3B489A105C44DABC72F11E, N'SUPER USER', CAST(N'2023-03-21T13:50:45.907' AS DateTime), N'admin')
INSERT [dbo].[Ms_Login] ([username], [password], [user_level], [created_date], [created_user]) VALUES (N'best2', 0xC1AF9CDE9A3B677AB8BE0893335E52523E8103878599D6BA23CF5DE40BF2FF43D39CB9013047518F1DACF1C8BF413F049C3055BF68640EB1858DA986D869815F1E8557F773983CDB50D642B69D8D62B31DDB3C6348CB58ABA95A4512D6C41BC748FDB7C69E5F3D9C67AEED353157C88D6E8A127F0D7867461305996B2D447259, N'SUPER USER', CAST(N'2023-03-21T14:03:18.220' AS DateTime), N'admin')
GO
INSERT [dbo].[Ms_Volume_Tangki] ([tangki], [tinggi], [volume], [beda_liter]) VALUES (N'1', 1, 197889, 4237)
INSERT [dbo].[Ms_Volume_Tangki] ([tangki], [tinggi], [volume], [beda_liter]) VALUES (N'1', 2, 202125, 4237)
INSERT [dbo].[Ms_Volume_Tangki] ([tangki], [tinggi], [volume], [beda_liter]) VALUES (N'1', 3, 206362, 4204)
GO
